body {
    margin: 0;
    text-align: center;
    background-image : url("https://ca-times.brightspotcdn.com/dims4/default/1e42509/2147483647/strip/true/crop/3600x2399+0+0/resize/2000x1333!/quality/80/?url=https%3A%2F%2Fcalifornia-times-brightspot.s3.amazonaws.com%2F00%2Ffe%2F7d56983948aeb1dfe7ad3e8030cd%2Fla-sp-0516-kobe-24-photos-008.JPG");
    background-size: cover;
    background-position: -3rem
}

.score {
    background: white;
    color: rgb(169, 50, 50);
    font-family: "Cursed Timer ULiL";
    border-radius : 10px
    ;
}

.container {
    display: flex;
    justify-content: space-around;
}

button {
    background: none;
    font-family: "Cursed Timer ULiL";
    font-style : normal;
    color: rgb(169, 50, 50);
    border: 2px solid rgb(169, 50, 50);
    background-color: white;
}
h3 {
    color : white
}


